html, body {
  height: 100%;
  margin: 0;
}

body{
  min-width: 320px;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

}

h1{
  color: #ffc600;
  font-size: 4REM;
  text-shadow: -1px 0 #fcd95c, 0 1px #fcd95c, 1px 0 #fcd95c, 0 -1px #fcd95c; /* Add an outline to the h1 element */

}

h2{
font-size: 2REM;
}

h2, p, label {
  color: #ffa600;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #1f1b24;
  padding: 24px;
  text-align: center;
}

p {
  color: #ffa600;
}

#start-btn, button {
  background-color: #323bae;
  color: white;
  border: 2px solid #282430;
}

#start-btn:hover, button:hover {
  background-color: #ffc700;
}

#restart-btn{
  margin-top: 50px;
}

.styled-input{
  width: 305px;
  height: 50px;
  text-align: center;
  background-color: #282430;
  color: #ffa600;
  border: 2px solid #ffa600;
}

.styled-input:focus {
  border-color: #ffc600;
}

.styled-input:valid {
  background-color: #323bae;
  color: #ffc700;
  border: 2px solid #ffc600;

}

/* Placeholder color */
.styled-input::placeholder {
  color: #a39b8b;
  opacity: 1;
}

#player2[disabled] {
  background-color: #ddd;
  color: #777;

}

#ppcChckbx{
  display: none;
}

.hidden{
  display: none;
}

#ppcImg{
  padding:14px;
  border: 2px solid rgb(255, 140, 0);
  border-radius: 44px;
  width: 10%;
  background-color: rgba(255, 140, 0, 0.5);
  transition: transform 0.5s; /* Add a smooth transition for the transform property */
}

#ppcImg:hover{
  background-color: rgb(255, 140, 0);
}

.ppcOn{
  border: 2px solid rgb(184, 220, 2) !important;;
  background-color: rgba(184, 220, 0, 0.5) !important;
}

.ppcOn:hover{
  background-color: rgba(184, 220, 0 ) !important;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background-color: #282430;
  /* border: 4px solid #ffa600; */
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #282430;
  border: 2px solid #ffa600;
  color: #ffffff; 
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.cell:hover {
  background-color: #5c62af;
}
